@import './styles/tailwind.css';

body {
  font-family: 'system-ui', 'sans-serif';
  
}

body {
	background: linear-gradient(-45deg, #970707, #ea0404, #fa9571, #f7f7f7);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}